#more-info {
  color: tomato;
  margin-top: 29px;
  margin-left: 5px;
}
.more-screen .icon-row {
  margin-top: 35px;
}

.more__icon {
  display: flex;
  padding: 50px 0px;
}
.more-icon1 {
  display: flex;
  margin-left: 70px;
}

.more-icon,
.more-icon1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.more-icon i {
  font-size: 35px;
}

.more-icon span {
  margin-top: 18px;
}

.more-icon1 i {
  font-size: 35px;
}
.more-icon1 span {
  margin-top: 18px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--border-soild);
  padding-top: 14px;
}

.more-suggestions__title {
  padding-top: 10px;
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 600;
}

.more-suggestions__icon-text {
  opacity: 0.5;
}

.more-suggestions__icon img {
  width: 60px;
  height: 60px;
  display: flex;
  margin-left: 11px;
  margin-right: 50px;
  float: left;
  border-radius: 10px;
}

.more-text span {
  display: block;
  position: absolute;
  margin-left: 5px;
  margin-top: 70px;
}

.more-text2 span {
  display: block;
  position: absolute;
  margin-left: 132.5px;
  margin-top: 70px;
}
.more-text3 span {
  display: block;
  position: absolute;
  margin-left: 244px;
  margin-top: 70px;
}
